@import '../../styles/settings.scss';

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  padding-top: 5.8rem;
}

.categories__main__title {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  filter: brightness(1.2);
  font-family: $font-text-1;
}

.categories__main__title h1 {
  font-size: 1.6rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -0.1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}

.categories__main__title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 3px rgb(245, 246, 250);
  box-shadow: 0rem 1rem 1rem #000000;
}

.categories__main__title h1:nth-child(2) {
  color: #000000;
}

.categories__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
  padding-bottom: 2rem;
}

.categories__box {
  padding: 0.2rem;
  width: 50%;
}

.categories__poster {
  padding: 0.15rem 0.2rem;
  background-color: rgb(47, 54, 64);
  border-radius: 0.2rem;

  img {
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
  }
}
