@import '../../styles/settings.scss';

.movies__wrapper {
  padding-top: 5.8rem;
}

.movies__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
}

.movies__main__title {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  width: 100%;
  filter: brightness(1.2);
  font-family: $font-text-1;
}

.movies__main__title h1 {
  font-size: 1.6rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -0.1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}

.movies__main__title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 3px $white;
  box-shadow: 0rem 1rem 1rem #000000;
}

.movies__main__title h1:nth-child(2) {
  color: #000000;
}

.movies__section__title {
  width: 100%;
  opacity: 0.99;
  font-family: $font-text-4;
  color: $white;
  width: 100%;
  padding: 0 0.2rem;

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
  }
}
