.movies__container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
}