.hero__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
  overflow-x: scroll;
  padding: 1rem 0;

  &::-webkit-scrollbar{
    display: none;
  }
}

.hero__item {
  width: 17%;
  transition: width 0.4s ease-in-out;
  z-index: 1;

  &:hover {
    width: 23%;
    z-index: 2;
  }

  img {
    cursor: pointer;
    transition: scale 0.4s ease-in;
    border-radius: 1rem;

  &:hover {
    scale: 104%;
  }
  }
}

@media (max-width: 1024px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    overflow-x: scroll;
    padding: 1rem 0;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  .hero__item {
    min-width: 70%;
    transition: width 0.4s ease-in-out;
    z-index: 1;

    &:hover {
      width: 100%;
      z-index: 2;
    }

    img {
      max-width: 100%;
      cursor: pointer;
      transition: scale 0.4s ease-in;
      border-radius: 0;

    &:hover {
      scale: 100%;
    }
    }
  }
}
