@import '../../styles/settings.scss';

.person__container {
  padding: 5rem;
  padding-top: 9rem;
  display: flex;
  gap: 4rem;
}

.person__main__border {
  padding: 0.25rem;
  padding-bottom: 0rem;
  background-color: $gray-border;
  border-radius: 0.5rem;
}

.person__info {
  position: fixed;
  top: 9rem;
  left: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;

  h1 {
    font-size: 2.5rem;
    font-family: $font-text-4;
  }

  img {
    border-radius: 0.5rem;
    box-shadow: 25rem 10rem 20rem 12rem rgba(194, 54, 22, 0.4);
  }

  p {
    font-size: 1.3rem;
    opacity: 0.7;
  }

  p:first-of-type {
    color: $red-main;
    margin-bottom: -0.5rem;
    font-weight: 600;
    opacity: 0.9;
  }
}

.person__list {
  margin-left: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.person__list__poster {
  opacity: 0.9;

  &:hover {
    scale: 102%;
    opacity: 1;
  }

  img {
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0);
    opacity: 0.9;
  }
}

@media (max-width: 1024px) {
  .person__container {
    padding: 0.5rem;
    padding-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
  }

  .person__info {
    width: 100%;
    position: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    h1 {
      font-size: 1.5rem;
      font-family: $font-text-4;
    }

    img {
      border-radius: 0.3rem;
      width: 100%;
    }
  }

  .person__list {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .person__list__poster {
    width: 22%;
    opacity: 1;
    text-align: center;

    &:hover {
      scale: none;
      opacity: 1;
    }

    img {
      border-radius: 0.3rem;
      cursor: pointer;
      width: 100%;
    }
  }
}

@media (max-width: 540px) {

  .person__list__poster {
    width: 30%;
  }
}
