.hub__card__wrapper {
  padding-top: 6.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hub__card__logo img {
  width: 10rem;
}

.hub__card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
  padding-bottom: 2rem;
}

.hub__card__item__container {
  padding: 0.2rem;
  //width: 50%;
}

.hub__card__item {
  padding: 0.15rem 0.2rem;
  background-color: rgb(47, 54, 64);
  border-radius: 0.2rem;

  img {
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
  }
}
