.navbar__logo {
  line-height: 1rem;
  left: 37%;
  top: -1.5rem;

  span {
    img {
      margin-bottom: -0.7rem;
      margin-right: -0.5rem;
      margin-left: 0.05rem;
      width: 2.5rem;
      filter: invert(100%);
      opacity: 0.7;
    }
  }
}

.logo__font {
  position: relative;
  margin: 1.7rem 0;
  width: 100%;
  box-shadow: 0rem -5rem 10rem 5rem #000000e1;
}

.logo__font h1 {
  font-size: 2.1rem;
  font-weight: 100;
  position: absolute;
  letter-spacing: 0.2rem;
}

.logo__font h1:nth-child(1) {
  border-radius: 50%;
  color: transparent;
  -webkit-text-stroke: 4px rgb(194, 54, 22);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(1, #ffffff)) no-repeat;
  background: gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(1, #fff)) no-repeat;
  background-size: 8px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 3s infinite;
}

.logo__font h1:nth-child(2) {
  color: #000000;
}

@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
