.home__trending__wrapper {
  display: flex;
  flex-direction: column;
}

.trending__movies__box {
  width: 20%;
  padding: 1%;
  transition: scale 0.3s ease-in-out;


  &:hover {
    scale: 110%;
  }

  img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0);
  }
}

@media (max-width: 1024px) {
  .home__trending__wrapper {
    padding: 0 1rem;
  }

  .trending__movies__box {
    width: 25%;
    padding: 3%;

    &:hover {
      scale: 100%;
    }

    img {
      border-radius: 0.2rem;
      box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
    }
  }
}

.home__section__title {
  position: relative;
  margin: 1.7rem 0;
  width: 100%;
}

.home__section__title p {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 6.8rem;
  top: -1.2rem;
  letter-spacing: 0.2rem;
}

.home__section__title p:nth-child(1) {
  border-radius: 50%;
  color: transparent;
  -webkit-text-stroke: 3px rgb(216, 52, 52);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(0.8, #ffffff)) no-repeat;
  background: gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(0.8, #fff)) no-repeat;
  background-size: 8px 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__section__title p:nth-child(2) {
  color: #000000;
}
