.home__trending__wrapper {
  display: flex;
  flex-direction: column;
}

.trending__movies__box {
  padding: 1%;

  img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0);
  }
}

@media (max-width: 1024px) {
  .home__trending__wrapper {
    padding: 0 0.5rem;
  }

  .trending__movies__wrapper {
    padding: 0.1rem;
  }

  .trending__movies__box {
    //width: 25%;
    padding: 0.15rem 0.2rem;
    background-color: rgb(47, 54, 64);
    border-radius: 0.2rem;

    &:hover {
      scale: 100%;
    }

    img {
      border-radius: 0.2rem;
      box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
    }
  }
}

.home__section__title {
  position: relative;
  margin: 1.7rem 0;
  width: 100%;
  box-shadow: 0rem 4rem 4rem 5rem #000000e1;
}

.home__section__title p {
  color: #ff0000;
  font-size: 1.1rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 7rem;
  top: -1.2rem;
  letter-spacing: 0.2rem;
}

.home__section__title p:nth-child(1) {
  border-radius: 50%;
  color: transparent;
  -webkit-text-stroke: 3px rgb(194, 54, 22);
}

.home__section__title p:nth-child(2) {
  color: #000000;
}
