.home__container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    img {
      margin-bottom: -0.9rem;
      margin-right: -0.8rem;
      margin-left: 0.1rem;
      width: 3rem;
      filter: invert(100%);
    }
  }
}

.page__input {
  background-color: rgb(68, 68, 68);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  color: white;
}

