.movie__box {
  overflow-x: scroll;
  display: flex;
  gap: 0.5rem;
  padding: 0 1.5rem;
  width: 100%;
  position: relative;

  img {
    max-width: 7rem;
    border-radius: 1rem;
  }
}

.movie__item {
  background-color: rgba(255, 231, 181, 0.08);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
