.movie__box {
  overflow-x: scroll;
  display: flex;
  gap: 0.3rem;
  margin-left: -0.5rem;
  width: 100%;
  position: relative;
  box-shadow: 10rem 1rem 5rem rgba(61, 4, 4, 0.788);

  img {
    max-width: 8rem;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
}

.movie__item {
  background-color: rgba(34, 32, 28, 0.950);
  border-radius: 0.5rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;

  p {
    font-size: 0.4rem;
    font-weight: 300;
    width: 100%;
    opacity: 1;
    color: white;
    letter-spacing: 0.03rem;
  }
}
