.carousel__box {
  padding: 2rem;

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 50rem !important;
    object-fit: cover;
    object-position: middle;
    border-radius: 0.5rem;
  }
}

.image__border {
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 254, 254, 0.192);
  box-shadow: 0 0.4rem 0.5rem rgb(0, 0, 0);
}

.title__box {
  position: absolute;
  bottom: 4%;
  left: 3%;

  p {
    font-weight: 900;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 3px #000000;
  }
}

.image__box {
  position: relative;
}

//  SLICK ARROWS
.slick-next {
  right: 0;
  height: 100% !important;
  width: 5rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-prev {
  left: 1px;
  height: 100% !important;
  width: 5rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 1024px) {

  .carousel__box {
    padding: 0.5rem;
    padding-top: 1rem;

    img {
      border-radius: 0.2rem;
    }
  }

  .title__box {
    p {
      font-size: 1.1rem;
    }
  }
}

.slick-next {
  right: 0;
  height: 100% !important;
  width: 2rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-prev {
  left: 0;
  height: 100% !important;
  width: 2rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-list {
  padding-bottom: 1.5rem;
}