.carousel__wrapper {
  z-index: 99;
}

.carousel__box {
  padding: 2rem;

  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 50rem !important;
    object-fit: cover;
    object-position: middle;
    border-radius: 0.2rem;
  }
}

.image__border {
  padding: 0.15rem;
  border-radius: 0.2rem;
  background-color: rgb(47, 54, 64);
  box-shadow: 0 0.4rem 0.5rem rgb(0, 0, 0);
}

.title__container {
  position: absolute;
  bottom: 13%;
  left: 3%;
  width: 100%;
}

.title__box {
  position: relative;
}

.title__box p {
  font-weight: 100;
  font-size: 5rem;
  position: absolute;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 0.1px black;
  opacity: 0.95;
}

.title__box p:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 3px rgb(245, 246, 250);;
}

.title__box p:nth-child(2) {
  color: #000000;
  box-shadow: 0 0.1rem 0.5rem rgb(0, 0, 0, 0.5);
}

.title__box p:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.title__box p:nth-child(4) {
  color: #000000;
  box-shadow: 0 0.1rem 0.5rem rgb(0, 0, 0, 0.5);
}

.image__box {
  position: relative;

  img {
    border-radius: 0.3rem;
  }
}

//  SLICK ARROWS
.slick-next {
  right: 0;
  height: 100% !important;
  width: 5rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-prev {
  left: 1px;
  height: 100% !important;
  width: 5rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 1024px) {

  .carousel__box {
    padding: 0.5rem;
    padding-top: 1rem;

    img {
      border-radius: 0.2rem;
    }
  }

  .title__box {
    p {
      font-size: 0.95rem;
    }
  }
}

.slick-next {
  right: 0;
  height: 100% !important;
  width: 2rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-prev {
  left: 0;
  height: 100% !important;
  width: 2rem !important;
  z-index: 9;
  opacity: 0.5;
  cursor: pointer;
}

.slick-list {
  padding-bottom: 1.5rem;
}