@import '../../styles/settings.scss';

.login__wrapper {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    color: $red-main;
  }

  p {
    text-align: center;
    width: 100%;
  }
}

.login__form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;

  input {
    outline: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    font-family: $font-text-5;
    font-size: 0.9rem;
  }

  button {
    border: 2px solid $gray-border;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-family: $font-text-4;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    color: $black-main;
    background-color: $white;
  }

  span {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    color: red;
  }
}
