.tvShow__wrapper {
  width: 100%;
  //margin-top: 1rem;
  padding: 0 1rem;
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tvShow__section__name {
  margin-bottom: -0.5rem;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
}

.tvShow__inner {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.tvShow__poster__title {
  width: 100%;

  img{
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
  }
}

.tvShow__overview {
  width: 100%;

  p {
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.tvShow__inner__info{
  width: 100%;
}

.tvShow__title {
  width: 100%;
  text-align: center;

  p {
    font-size: 1.5rem;
  }
}

.tvShow__date__score {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
}

.tvShow__release__date {
  display: flex;
  gap: 0.5rem;

  p:last-of-type {
    color: rgb(201, 73, 73);
  }
}

.tvShow__score {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 2rem;
    filter: invert(42%) sepia(100%) saturate(1352%) hue-rotate(20deg) brightness(110%) contrast(200%);
  }
}

.tvShow__video__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  width: 100%;
  padding: 0 0.5rem;
}

iframe {
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
}

.tvShow__cast {
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.tvShow__cast__person {
  img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
  }
}

.tvShow__similar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0 0.5rem;
}

.tvShow__similar__item {
  width: 23%;

  img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
    cursor: pointer;
  }
}

.tvShow__seasons__episodes {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0);
}

.tvShow__seasons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tvShow__episodes {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.tvShow__seasons__number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(121, 31, 31, 0.877);;
  border-radius: 10%;
  width: 2.5rem;
  height: 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  }
