.tvSeries__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  padding-top: 6.4rem;
}

.tvSeries__main__title {
  position: relative;
  margin-top: 1.7rem;
  margin-bottom: 3rem;
  width: 100%;
  filter: brightness(1.2);
}

.tvSeries__main__title h1 {
  font-size: 1.7rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -0.1rem;
  letter-spacing: 0.3rem;
}


.tvSeries__main__title h1:nth-child(1) {
  border-radius: 50%;
  color: transparent;
  -webkit-text-stroke: 3px rgb(245, 246, 250);
  box-shadow: 0 1rem 1rem#000000;
}

.tvSeries__main__title h1:nth-child(2) {
  color: #000000;
}

.tvSeries__section__title {
  position: relative;
  margin-top: 1.5rem;
  width: 100%;
}

.tvSeries__section__title h2 {
  color: #ff0000;
  font-size: 1.1rem;
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  letter-spacing: 0.2rem;
  left: 4.8rem;
  top: -1.2rem;
}

.tvSeries__section__title h2:nth-child(1) {
  border-radius: 50%;
  color: transparent;
  -webkit-text-stroke: 3px rgb(194, 54, 22);
}

.tvSeries__section__title h2:nth-child(2) {
  color: #000000;
}
